div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-lg-12
      button.btn.btn-primary(ng-show='!showCreateInvoice', ng-click='showCreateInvoice=true') + Create Invoice
  .row(ng-show='showCreateInvoice')
    .col-lg-12
      h3 Create Invoice
      .row
        .col-lg-12
          form.createInvoiceForm.form-inline
            .form-group
              input.form-control(type='text', ng-model='newInvoice.invoice_number', placeholder='Invoice Number')
            .form-group
              input.form-control(type='text', ng-model='newInvoice.customer_number', placeholder='Customer Number')
            .form-group
              input.form-control(type='date', ng-model='newInvoice.due_date', placeholder='Due Date')
            .form-group
              input.form-control(type='text', ng-model='newInvoice.amount', placeholder='Amount')
            button.btn.btn-primary(type='submit', ng-click='addInvoice()') Create
            button.btn.btn-default(ng-show='showCreateInvoice', ng-click='showCreateInvoice=false') Cancel
  .row
    .col-lg-12
      table.invoiceTable(ng-table)
        tr(ng-repeat='invoice in invoices')
          td(data-title='"Invoice Number"')
            a(href='', ng-click='showQrCode = !showQrCode') {{invoice.invoice_number}}
            div(ng-show='showQrCode')
              br
              img(src='https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{apiUrl}}%2Fapi%2Finvoices%2F{{invoice._id}}')
          td(data-title='"Customer Number"') {{invoice.customer_number}}
          td(data-title='"Amount"') {{invoice.amount}}
          td(data-title='"Due Date"') {{invoice.due_date}}
          td(data-title='"Delete"')
            a.trash(ng-click='deleteInvoice(invoice)')
              span.glyphicon.glyphicon-trash.pull-right
