div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 QR Billing
    p.lead Billing made easy

.container
  .row
    .col-lg-12

footer.footer
  .container
    p
      | QR Billing - 2015
